project
{
    version 3.0
    timestamp 2021-01-05T15:41:45+1100
}
devices
{
    device
    {
        id target
        manufacturer actel
        die MPFS250T_ES
        package FCVG484
        mss_keep_alive false
        no_power_down false
        ios_cfg_path ""
        envms
        {
            envm
            {
                num_bytes 112192
                file_format intel-hex
                file_path hss.hex
                start_page 0
                client_name bootmode1
                base_addr 20220000
            }
        }
        mss_boot_info
        {
            ucskx ""
            ucsky ""
            bootmode 1
            bootcfg 2022000020220000202200002022000020220000
        }
    }
}
